html {
  scroll-behavior: smooth;
}
* {
  font-family: "Nunito Sans";
}
body {
  margin: 0;
  position: relative;
  width: 1920px;
  background: url("./media/background_img.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
}
