.modal-editing-window-container.show-window {
  display: flex;
  z-index: 9999;
}
.modal-editing-window-container.hide-window {
  display: none;
  z-index: 0;
}
.modal-editing-window-container {
  flex-direction: column;
  position: absolute;
  transform: translate(0, 50%);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: white;
  padding: 100px;
  transition: 2s ease-in-out;
  width: 250px;
}
