.footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 98px;
  padding-top: 138px;
  font-family: "Poppins";
}
.first-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 35px;
  width: 20%;
  padding-left: 60px;
}
.first-column h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #2b3377;
  margin: 0;
  padding-bottom: 16px;
  padding-top: 80px;
}
.first-column p {
  width: 363px;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #5c5e87;
  margin: 0;
}
.first-column img {
  padding-bottom: 40px;
}
.footer-left-column-icons {
  display: flex;
  gap: 23.7px;
}
.footer-single-column {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  padding-left: 100px;
}
.footer-single-column h4 {
  width: 87px;
  height: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #2b3377;
}
.footer-single-column li {
  font-style: normal;
  width: max-content;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #5c5e87;
  padding-top: 28px;
}
.footer-single-column li a {
  text-decoration: none;
  color: #5c5e87;
}
