.contents-page::after {
  content: url("../media/hero_wave.png");
  position: absolute;
  left: -10px;
  top: 800px;
}
.welcome::after {
  content: url("../media/second_hero_wave.png");
  position: absolute;
  opacity: 0.8;
  left: -20px;
  top: 640px;
}
.contents-page::before {
  content: url("../media/first_wave_header.png");
  position: absolute;
  left: -10.72px;
  top: -20px;
}
.welcome::before {
  content: url("../media/second_wave_header.png");
  position: absolute;
  opacity: 0.8;
  left: -30px;
  top: -10px;
}
.img-lucy {
  box-sizing: border-box;
  position: absolute;
  width: 310.6px;
  height: 310.6px;
  left: 1021.99px;
  top: 245.78px;
  border-radius: 50%;
}
.cursor-image-lucy-opinion {
  position: absolute;
  left: 1662.17px;
  top: 435.34px;
  z-index: 99;
}
.circle-after-cursor-image {
  position: absolute;
  left: 1693.92px;
  top: 433.11px;
  z-index: 98;
}
.rectangle-welcome-section {
  position: absolute;
  width: 35.04px;
  height: 35.04px;
  left: 897px;
  top: 279.7px;
}
.triangle-welcome-section {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 680px;
  top: 681.28px;
}
.cursor-welcome-section {
  position: absolute;
  width: 56px;
  height: 55px;
  left: 722px;
  top: 495px;
}
.ellipse-welcome-section {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 550px;
  top: 244px;
}
